@import "tailwindcss";
@theme{
  --color-navyblue:#020617;
  --color-light-nay:#0B217D;
  --color-sky-blue:#008080;
  --color-gray-v1:#C8C8C8;
  --color-orange-v1:#FF6600;
  --color-orange-v2:#FF66001A;
  --color-pink-v1:#D1565E;
  --color-modal:#000000CC;
  --font---default-font-family: "Nura";

}
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
@font-face {
  font-family: "Nura";
  src: url("assets/Font/Nura-Normal.ttf")
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#008080 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#008080);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}
@layer components{
  .main-login{
    @apply
    h-screen
    w-screen
    justify-center
    items-center
    flex
    flex-col
    bg-gradient-to-t from-navyblue to-light-nay
    overflow-hidden
    ;
  }
}
@layer components{
  .login-container{
    @apply
    flex
    flex-col
    items-center
    bg-white
    lg:w-md
    
    w-xs
    h-96
    rounded-2xl
    overflow-hidden
    ;
  }
}
@layer components{
  .shape{
    font-family: "Nura";
    @apply
    w-full
    h-1/2
    flex
    flex-col
    text-center
    text-xl
    justify-center
    items-center
    overflow-hidden
    bg-sky-blue
    rounded-b-full
    text-white
  }
}
@layer components{
  .logo-bg{
    @apply
    bg-gray-v1
    
    rounded-full
    ;
  }
}
@layer components{
  .login-form{
    @apply
    w-full
    flex
    flex-col
    p-3
    gap-3
    ;
  }
}
@layer components{
  .login-form input{
    @apply
    w-full
    outline-none
    px-2
    py-1
    text-black
    
    ;
  }
}
@layer components{
  .login-form fieldset{
    @apply
    border
    p-0
    rounded-lg
    focus-within:border-sky-blue
    focus-within:text-sky-blue
    duration-300
    ;
  }
  
}
@layer components{
  button{
    @apply
    
    bg-orange-v2
    
    text-pink-v1
    p-2
    rounded-lg
    font-semibold
    border
    border-orange-v1
    cursor-pointer
    hover:bg-transparent
    hover:border
    hover:text-orange-v1
    duration-300
    ;
  }
}
@layer components{
  .button-save{
    @apply
    
    bg-orange-v1
    
    text-white
    p-2
    rounded-lg
    font-semibold
    border
    border-orange-v1
    cursor-pointer
    hover:bg-transparent
    hover:border
    hover:text-orange-v1
    duration-300
    ;
  }
}
@layer components{
  .aside-navbar{
    @apply
    lg:sticky
    lg:top-0
    bottom-0
    sticky
    flex
    flex-col
    lg:h-screen
    ;
  }
}
@layer components{
  .aside-navbar nav{
    @apply
    bg-navyblue
    lg:h-full
    lg:w-fit
    w-svw
    flex
    lg:flex-col
    lg:justify-between
    justify-center
    items-center
    text-white
    lg:rounded-xl
    rounded-t-full
    gap-5
    p-2
    lg:m-5
    ;
  }
}
@layer components{
  .aside-navbar nav ul{
    @apply
    flex
    lg:flex-col
    justify-center
    items-center
    p-2
    gap-5
    ;
  }
}
@layer components{
  .aside-navbar nav ul li img{
    @apply
    size-5
    ;
  }
}
@layer components{
  .aside-navbar nav ul li {
    @apply
    hover:bg-sky-blue
    hover:rounded-full
    p-3
    duration-300
    ;
  }
}
@layer components{
  .active-hover{
    @apply
    bg-sky-blue
    rounded-full
    duration-300
    ;
  }
}
@layer components{
  .admin-section{
    @apply
    lg:h-svh
    lg:w-full
    bg-gray-v1
    m-1
    h-screen
    overflow-hidden
    lg:mx-5
    lg:my-5
    rounded-xl
    ;
  }
}
@layer components{
  .admin-header{
    @apply
    bg-sky-blue
    text-white
    uppercase
    text-xl
    rounded-t-md
    p-2
    flex
    w-full
    font-semibold
    ;
  }
}
@layer components{
  .dashboard-content{
    @apply
    p-2
    grid
    grid-cols-2
    lg:grid-cols-3
    grid-rows-1
    gap-2
  }
}
@layer components{
  .summary-container{
    @apply
    bg-white
    p-2
    rounded-r-md
    break-words
    justify-center
    flex
    flex-col
    border-l-5
    border-sky-blue
    uppercase
    lg:h-36
    lg:gap-y-3
    ;
  }
}
@layer components{
  .summary-article{
    @apply
    text-center
    font-bold
    lg:text-xl
    
    ;
  }
}
@layer components {
  .summary-container img, .summary-container-btn img{
    @apply
    lg:size-8
    size-5
    ;
  }
}
@layer components{
  .chart-container{
    @apply
    bg-white
    p-2
    flex
    flex-col
    justify-center
    items-center
    lg:h-80
    rounded-md
    shadow-2xl
    ;
  }
}
@layer components{
  .summary-container-btn{
    @apply
    bg-navyblue
    text-white
    p-2
    rounded-r-md
    break-words
    justify-center
    flex
    flex-col
    border-l-5
    border-sky-blue
    uppercase
    lg:h-36
    lg:gap-y-3
    cursor-pointer
    ;
  }
}
@layer components{
  .button-w-bg{
    @apply
    bg-orange-v1
    lg:p-2
    p-1
    rounded-full
    ;
  }
}
@layer components{
  .modal{
    @apply
    bg-modal
    h-screen
    w-full
    flex
    justify-center
    fixed
    overflow-hidden
    m-0
    ;
  }
}
@layer components{
  .modal-container{
    @apply
    bg-white
    lg:w-1/2
    w-full
    m-5
    rounded-xl
    overflow-auto

    ;
  }
}
@layer components{
  .modal-layout span{
    @apply
    text-xs
    border
    border-dashed
    p-5
    overflow-hidden
    flex-col
    items-center
    flex
    justify-center
    rounded-md
    ;
  }
}
@layer components{
  .modal-layout{
    @apply
    grid-cols-2
    grid
    items-end
    m-5
    gap-5
    ;
  }
}
@layer components{
  .file-ui{
    @apply
    file:bg-orange-v1
    file:text-white
    file:rounded-full
    file:text-sm
    file:p-2
    text-sm
    file:cursor-pointer
    file:font-semibold
    ;
  }
}
@layer components{
  .modal-button-layout{
    @apply
    grid
    grid-cols-2
    gap-3
    mx-0
    bg-white
    p-2
    bottom-0
    sticky
    ;
  }
}
@layer components{
  .modal-container form{
    @apply
    m-5
    flex
    flex-col
    gap-2
    ;
  }
}
@layer components{
  .modal-container form input{
    @apply
    border
    rounded-md
    p-2
    focus:border-sky-blue
    outline-0
    duration-300
    placeholder:text-xs
    ;
  }
}
@layer components{
  .modal-container form label{
    @apply
    font-semibold
    text-sm
    ;
  }
}
@layer components{
  .textarea{
    @apply
    outline-0
    border
    rounded-md
    h-72
    resize-none
    p-2
    ;
  }
}
@layer components{
  .searchbar{
    @apply
    size-full
    p-2
    outline-0
    border
    rounded-xl
    flex
    gap-2
    ;
  }
}
@layer components{
  .project-contents{
    @apply
    grid
    lg:grid-cols-4
    grid-cols-2
    gap-3
    mx-2
    my-4
    ;
  }
}
@layer components{
  .project-contents-container{
    @apply
    bg-white
    p-2
    rounded-lg
    flex
    flex-col
    gap-5
    break-words
    ;
  }
}
@layer components {
  .project-image{
    @apply
    aspect-video
    rounded-md
    ;
  }
}
@layer components {
  .project-image img{
    @apply
    rounded-md
    ;
  }
}